In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests

# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Kyren,RU,2022-07-04 16:16:59,51.6828,102.1408,54.12,91,100,2.24
1,1,Barrow,US,2022-07-04 16:16:59,71.2906,-156.7887,37.42,93,100,10.36
2,2,San Cristobal,VE,2022-07-04 16:16:59,7.7669,-72.2250,71.78,99,100,6.15
3,3,Urusha,RU,2022-07-04 16:17:00,54.0500,122.9000,63.97,95,8,4.97
4,4,Norman Wells,CA,2022-07-04 16:17:00,65.2820,-126.8329,69.84,52,20,19.57

In [3]:
#Get the data types

city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

## Temperature heat map

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)

## % humidity heat map

In [7]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## % Cloudiness Heat Map

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

## Wind Speed Heat Map

In [9]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights= wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [10]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [11]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
8,8,Matara,LK,2022-07-04 16:17:02,5.9485,80.5353,79.81,83,100,11.83
9,9,Kapaa,US,2022-07-04 16:17:02,22.0752,-159.3190,76.98,87,75,24.16
11,11,Jamestown,US,2022-07-04 16:13:55,42.0970,-79.2353,81.01,48,0,6.91
16,16,Arraial Do Cabo,BR,2022-07-04 16:17:05,-22.9661,-42.0278,82.36,54,0,16.11
19,19,Atuona,PF,2022-07-04 16:17:06,-9.8000,-139.0333,77.04,73,51,24.09
20,20,Kirakira,SB,2022-07-04 16:17:07,-10.4544,161.9205,81.07,82,14,13.85
27,27,Yertsevo,RU,2022-07-04 16:17:09,60.7966,40.0860,77.38,47,0,3.96
28,28,Hue,VN,2022-07-04 16:17:10,16.4667,107.6000,86.11,79,40,3.44
30,30,Faanui,PF,2022-07-04 16:17:11,-16.4833,-151.7500,78.42,74,36,9.22
32,32,Hithadhoo,MV,2022-07-04 16:17:12,-0.6000,73.0833,82.18,73,66,2.37

In [12]:
preferred_cities_df.count()

City_ID       181
City          181
Country       181
Date          181
Lat           181
Lng           181
Max Temp      181
Humidity      181
Cloudiness    181
Wind Speed    181
dtype: int64

In [13]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
8            Matara      LK     79.81   5.9485   80.5353
9             Kapaa      US     76.98  22.0752 -159.3190
11        Jamestown      US     81.01  42.0970  -79.2353
16  Arraial Do Cabo      BR     82.36 -22.9661  -42.0278
19           Atuona      PF     77.04  -9.8000 -139.0333
20         Kirakira      SB     81.07 -10.4544  161.9205
27         Yertsevo      RU     77.38  60.7966   40.0860
28              Hue      VN     86.11  16.4667  107.6000
30           Faanui      PF     78.42 -16.4833 -151.7500
32        Hithadhoo      MV     82.18  -0.6000   73.0833

In [14]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

In [21]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
    
    # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

    hotel_df.head(10)

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [22]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
8,Matara,LK,79.81,5.9485,80.5353,Amaloh Boutique Resort
9,Kapaa,US,76.98,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
11,Jamestown,US,81.01,42.0970,-79.2353,Hampton Inn & Suites Jamestown
16,Arraial Do Cabo,BR,82.36,-22.9661,-42.0278,Pousada Porto Praia
19,Atuona,PF,77.04,-9.8000,-139.0333,Villa Enata
20,Kirakira,SB,81.07,-10.4544,161.9205,SanBiz Lodge
27,Yertsevo,RU,77.38,60.7966,40.0860,Дом
28,Hue,VN,86.11,16.4667,107.6000,Saigon Morin Hotel
30,Faanui,PF,78.42,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa
32,Hithadhoo,MV,82.18,-0.6000,73.0833,Scoop Guest House

## Heat Map for Vactions spots

In [27]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

In [28]:
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [29]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))